apiVersion: v1
kind: ConfigMap
metadata:
  name: logstash-config
data:
  logstash.yml: |
    http.host: "0.0.0.0"
    xpack.monitoring.elasticsearch.username: elastic
    xpack.monitoring.elasticsearch.password: ${ELASTIC_PASSWORD}
    xpack.monitoring.elasticsearch.hosts: [ "https://elasticsearch:${ELASTIC_PORT}" ]
    xpack.monitoring.elasticsearch.ssl.certificate_authority: /usr/share/logstash/config/certs/ca/ca.crt
  logstash.conf: |
    input {
      beats {
        port => "${LOGSTASH_PORT}"
        ssl_enabled => true
        ssl_certificate => "/usr/share/logstash/config/certs/logstash/logstash.crt"
        ssl_key => "/usr/share/logstash/config/certs/logstash/logstash.key"
        ssl_verify_mode => "none"
      }
    }

    filter {
      json {
        source => "message"
        target => "json"
      }
    }

    output {
      if [json][logger_name] =~ /^com\.example/ {
        elasticsearch {
          hosts => ["https://elasticsearch:${ELASTIC_PORT}"]
          ssl_enabled => true
          ssl_certificate_authorities => "/usr/share/logstash/config/certs/ca/ca.crt"
          ssl_verification_mode => "none"
          user => "elastic"
          password => "${ELASTIC_PASSWORD}"
          index => "${MAIN_INDEX}"
        }
      } else {
        elasticsearch {
          hosts => ["https://elasticsearch:${ELASTIC_PORT}"]
          ssl_enabled => true
          ssl_certificate_authorities => "/usr/share/logstash/config/certs/ca/ca.crt"
          ssl_verification_mode => "none"
          user => "elastic"
          password => "${ELASTIC_PASSWORD}"
          index => "${SYSTEM_INDEX}"
        }
      }

      stdout { 
        codec => rubydebug {
          metadata => true
        }
      }
    }
 